* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6, p, div {
    font-family: 'Urbanist', sans-serif;
    color: var(--text-color);
}

:root {
    --primary-button-color: rgb(214, 197, 168);
    --background-color: #1a1a1a;
    --secondary-color: #2b9389;
    --text-color: #eaeaea;
    --error-color: #C26D5E;
    --button-hover-color: #A39171;
    --border-color: rgb(47, 47, 47);
}